<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Drug_Store_Manager.Properties.Settings.DrugStoreDBConnectionString"
            connectionString="Data Source=|DataDirectory|\DrugStoreDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>